.idea
/cmake-build-debug-wsl/_deps/ftxui-build/
/cmake-build-debug-wsl/.cmake/api/v1/reply/
/cmake-build-debug-wsl/CMakeFiles/BattleshipsHW.dir/
/cmake-build-debug-wsl/BattleshipsHW
/cmake-build-debug-wsl/Testing/
